

<div class="jumbotron">
  <h1 class="display-4">Bem Vindo ao Blog</h1>
  <p class="lead">Bem vindo ao Blog de Tecnologia criado em Node.Js por</p><small>Criado por: Raphael Freitas</small>
  <hr class="my-4">
  <p>Neste blog as postagens são de acesso publico</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
</div>


<hr>

{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
            <hr>  
        <small>Categoria: {{categoria.nome}}</small><br>
      <small>Data de Publicação: {{data}}</small>
  
    </div>
</div>
{{else}}
<h5>Nenhuma Postagem</h5>
{{/each}}
